DATABASE_URL="mysql://user:pass@localhost:3306/apitutorial"
DATABASE_HOST="localhost"
DATABASE_USER="___USER___"
DATABASE_PASSWORD="___PASSWORD___"
DATABASE_NAME="apitutorial"
JWT_SECRET="___JWT_SECRET___"